.navbar-container {
	font-size: 10px;
	/* max-width: 100%; */
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	/* temp */
	border-bottom: 1px solid rgba(255, 255, 255, 0.728);
	background: orange;
	color: white;
}

.left-navbar-logo {
	width: fit-content;
	/* temp */
	border: 2px solid orange;
}

.left-navbar-list {
	margin: 0;
	display: flex;
	list-style: none;
	width: 26%;
	padding-inline-start: 0;
	align-items: center;
	justify-content: space-between;
}

.right-navbar-list {
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	list-style: none;
	width: 20%;
	padding-right: 35px;
}
.left-navbar-list li a,
.right-navbar-list li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 14px;
}
.left-navbar-list li a:hover,
.right-navbar-list li a:hover {
	color: chocolate;
}
